@page
@using FiyiStackWeb.Areas.CMSCore.Models
@model FiyiStackWeb.Areas.CMSCore.Pages.PageUserNonQueryModel
@{
    Layout = "_LayoutDashboard";

    string NonQueryText = "";
    string NonQueryIcon = "";

    int UserId;
    string FantasyName;
    string Email;
    string Password;
    int RoleId;
    int UserCreationId;
    int UserLastModificationId;
    string RegistrationToken;
    

    if(HttpContext.Request.QueryString.Value.Contains("?UserId=0"))
    {
        NonQueryText = "Add";
        NonQueryIcon = "fas fa-plus";

        UserId = 0;
        FantasyName = "";
        Email = "";
        Password = "";
        RoleId = 0;UserCreationId = 0;
        UserLastModificationId = 0;
        RegistrationToken = "";
        
    }
    else
    {
        NonQueryText = "Edit";
        NonQueryIcon = "fas fa-pen";

        UserModel UserModel = new UserModel().Select1ByUserIdToModel
        (Convert.ToInt32(HttpContext.Request.QueryString.Value.Replace("?UserId=","")));

        UserId = UserModel.UserId;
        FantasyName = UserModel.FantasyName;
        Email = UserModel.Email;
        Password = UserModel.Password;
        RoleId = UserModel.RoleId;
        UserCreationId = UserModel.UserCreationId;
        UserLastModificationId = UserModel.UserLastModificationId;
        RegistrationToken = UserModel.RegistrationToken;
        
    }

/*
 * GUID:e6c09dfe-3a3e-461b-b3f9-734aee05fc7b
 * 
 * Coded by fiyistack.com
 * Copyright © 2022
 * 
 * The above copyright notice and this permission notice shall be included
 * in all copies or substantial portions of the Software.
 * 
 */
    
//Stack: 11
//Last modification on: 20/12/2022 21:44:06

}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <!-- Header body -->
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <!-- Title -->
                    <h2 id="cmscore-user-title-page" class="h2 text-white d-inline-block mb-0">@NonQueryText user</h2>
                    <input id="cmscore-user-userid-input" type="hidden" value="@UserId" />
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    CMSCore
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    User
                                 </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <i class="@NonQueryIcon"></i>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <!-- XL Screens -->
                    <div class="d-none d-xl-inline">
                        <a href="/CMSCore/PageUserQuery" class="btn btn-secondary">
                            <i class="fas fa-angle-left"></i> Go back
                        </a>
                    </div>
                    <!-- Other Screens -->
                    <div class="d-inline d-sm-inline d-md-inline d-lg-inline d-xl-none">
                        <a href="/CMSCore/PageUserQuery" class="btn btn-secondary">
                            <i class="fas fa-angle-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
<div class="row">
    <div class="col">
            <!-- Card -->
            <div class="card">
                <!-- Card body -->
                <div class="card-body">
                    <form role="form" class="needs-validation" novalidate>
                        <!-- UserId -->
                        <div class="form-group mb-3">
                            <label for="cmscore-user-userId-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-key"></i> UserId
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text">
                                        <strong>
                                            <i class="fas fa-key"></i> UserId
                                        </strong>
                                    </span>
                                </div>
                                <input type="hidden" id="cmscore-user-userid-input" value="@UserId"/>
                                <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="bottom" title="@UserId"  type="button" value="UserId">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>
                        <!-- FantasyName -->
                        <div class="form-group mb-3">
                            <label for="cmscore-user-fantasyname-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-font"></i> FantasyName
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text ">
                                        <strong>
                                            <i class="fas fa-font"></i> FantasyName
                                        </strong>
                                    </span>
                                </div>
                                <input class="form-control" min="1" max="200" type="text" id="cmscore-user-fantasyname-input" value="@FantasyName" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="fantasyname-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="form-group mb-3">
                            <label for="cmscore-user-email-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-at"></i> Email
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text ">
                                        <strong>
                                            <i class="fas fa-at"></i> Email
                                        </strong>
                                    </span>
                                </div>
                                <input class="form-control" type="email" min="1" max="320" id="cmscore-user-email-input" value="@Email" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- Password -->
                        <div class="form-group mb-3">
                            <label for="cmscore-user-password-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-asterisk"></i> Password
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text ">
                                        <strong>
                                            <i class="fas fa-asterisk"></i> Password
                                        </strong>
                                    </span>
                                </div>
                                <input class="form-control" tabindex=7 min="1" max="8000" type="password" id="cmscore-user-password-input" value="@Password" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary  border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="password-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- RoleId -->
                        <div class="form-group mb-3">
                            <label class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-hashtag"></i> RoleId
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend input-group-text">
                                    <span class="mr-2 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                        <strong>
                                            <i class="fas fa-hashtag"></i> RoleId
                                        </strong>
                                    </span>
                                </div>
                                <button type="button" class="btn btn-outline-primary border-0" data-toggle="modal" data-target="#modal-foreign-key-code-selector"><i class="fas fa-hashtag"></i></button>
                                <ul id="cmscore-user-roleid-list" class="nav nav-pills nav-fill flex-column flex-sm-row" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-text-1-tab" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="" aria-selected="true">
                                            Choose a value
                                        </a>
                                        <input type="hidden" id="cmscore-user-roleid-input" value="@RoleId"/>
                                    </li>
                                </ul>
                                <div class="input-group-append">
                                    <button class="btn btn-danger border-0 ml-2" data-toggle="tooltip" data-placement="left" title="This value is required" type="button" id="roleid-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- UserCreationId -->
                        <div class="form-group mb-3">
                            <label for="cmscore-user-usercreationid-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-divide"></i> UserCreationId
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text ">
                                        <strong>
                                            <i class="fas fa-divide"></i> UserCreationId
                                        </strong>
                                    </span>
                                </div>
                                <input class="form-control" type="number" id="cmscore-user-usercreationid-input" value="@UserCreationId" min="1" max="2147483647" step="1" pattern="[^0-9]">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="usercreationid-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- UserLastModificationId -->
                        <div class="form-group mb-3">
                            <label for="cmscore-user-userlastmodificationid-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-divide"></i> UserLastModificationId
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text ">
                                        <strong>
                                            <i class="fas fa-divide"></i> UserLastModificationId
                                        </strong>
                                    </span>
                                </div>
                                <input class="form-control" type="number" id="cmscore-user-userlastmodificationid-input" value="@UserLastModificationId" min="1" max="2147483647" step="1" pattern="[^0-9]">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="userlastmodificationid-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- RegistrationToken -->
                        <div class="form-group mb-3">
                            <label for="cmscore-user-registrationtoken-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-font"></i> RegistrationToken
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text ">
                                        <strong>
                                            <i class="fas fa-font"></i> RegistrationToken
                                        </strong>
                                    </span>
                                </div>
                                <input class="form-control" min="1" max="8000" type="text" id="cmscore-user-registrationtoken-input" value="@RegistrationToken" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="registrationtoken-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Buttons -->
                        <div class="row justify-content-between">
                            <button id="cmscore-user-insert-or-update-button" class="btn btn-primary text-nowrap ml-3 mt-4" type="button"><i class="@NonQueryIcon"></i> @NonQueryText</button>
                            <button id="cmscore-user-insert-or-update-message" data-toggle="modal" data-target="#cmscore-user-error-message-modal" class="btn mt-4" type="button"></button>
                            <a href="/CMSCore/PageUserQuery" class="btn btn-outline-primary col-auto mr-3 mt-4 text-nowrap">
                                <i class="fas fa-angle-left"></i> Go back
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Card footer -->
            <div class="card-footer py-2">
            </div>
        </div>
    </div>
</div>

<!-- Error message in modal style -->
<div class="row">
    <div class="col-md-4 px-0">
        <div class="modal fade" id="cmscore-user-error-message-modal" tabindex="-1" role="dialog" aria-labelledby="cmscore-user-error-message-modal" aria-hidden="true">
            <div class="modal-dialog modal-secondary modal-dialog-centered modal-" role="document">
                <div class="modal-content bg-gradient-danger">
                    <!-- Modal title -->
                    <div class="modal-header">
                        <h6 class="modal-title text-white" id="modal-title-notification">
                            Error <i class="fas fa-exclamation-triangle"></i>
                        </h6>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="py-3 text-center">
                            <h4 id="/cmscore-user-error-message-title" class="heading mt-4 text-white"></h4>
                            <p class="text-white text-truncate" id="cmscore-user-error-message-text"></p>
                        </div>
                    </div>
                    <!-- Close button -->
                    <div class="modal-footer pt-4">
                        <button type="button" class="btn btn-white ml-auto" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ForeignKeyDropDown selector in Modal style -->
<div class="row">
    <div class="col-md-4">
        <!-- Modal -->
        <div class="modal fade" id="modal-foreign-key-code-selector" tabindex="-1" role="dialog" aria-labelledby="modal-foreign-key-selector" aria-hidden="true">
            <div class="modal-dialog modal-secondary modal-dialog-centered modal-" role="document">
                <!-- Modal content -->
                <div class="modal-content bg-gradient-secondary">
                    <div class="modal-header">
                        <h6 class="modal-title text-primary" id="modal-title-notification">
                            Choose a ForeignKeyDropDown value <i class="fas fa-hashtag"></i>
                         </h6>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <select id="cmscore-user-foreignkeydropdown-select" class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Choose value" data-allow-reset="true">
                                        <option value="0"></option> <!--This must be empty-->
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Phone code Selector in Modal style -->
<div class="row">
    <div class="col-md-4">
        <div class="modal fade" id="modal-phone-code-selector" tabindex="-1" role="dialog" aria-labelledby="modal-phone-code-selector" aria-hidden="true">
            <div class="modal-dialog modal-secondary modal-dialog-centered modal-" role="document">
                <div class="modal-content bg-gradient-secondary">
                    <div class="modal-header">
                        <h6 class="modal-title text-primary" id="modal-title-notification">Choose your phone code <i class="fas fa-globe-americas"></i></h6>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <select class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Country (+Code)" data-allow-reset="true">
                                        <option></option> <!--This must be empty-->
                                        <option>Argentina (+54)</option>
                                        <option>USA (+1)</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery-3.6.1.min.js"></script>
<script src="/assets/vendor/quill/dist/quill.min.js"></script>
<script src="/js/CMSCore/User/jQuery/UserNonQuery_jQuery.js"></script>