@page
@using FiyiStackWeb.Areas.FiyiStack.Models
@model FiyiStackWeb.Areas.FiyiStack.Pages.PageExampleNonQueryModel
@{
    Layout = "_LayoutDashboard";

    string NonQueryText = "";
    string NonQueryIcon = "";

    int ExampleId;
    bool Boolean;
    DateTime DateTime;
    decimal Decimal;
    int ForeignKey1;
    int ForeignKey2;
    int Integer;
    string TextBasic;
    string TextEmail;
    string TextFile;
    string TextHexColour;
    string TextPassword;
    string TextPhoneNumber;
    string TextTag;
    string TextArea;
    string TextEditor;
    string TextURL;
    

    if(HttpContext.Request.QueryString.Value.Contains("?ExampleId=0"))
    {
        NonQueryText = "Add";
        NonQueryIcon = "fas fa-plus";

        ExampleId = 0;
        Boolean = false;
        DateTime = DateTime.Now;
        Decimal = 0;
        ForeignKey1 = 0;ForeignKey2 = 0;
        Integer = 0;
        TextBasic = "";
        TextEmail = "";
        TextFile = "";
        TextHexColour = "#FFFFFF";
        TextPassword = "";
        TextPhoneNumber = "";
        TextTag = "";
        TextArea = "";
        TextEditor = "";
        TextURL = "";
        
    }
    else
    {
        NonQueryText = "Edit";
        NonQueryIcon = "fas fa-pen";

        ExampleModel ExampleModel = new ExampleModel().Select1ByExampleIdToModel
        (Convert.ToInt32(HttpContext.Request.QueryString.Value.Replace("?ExampleId=","")));

        ExampleId = ExampleModel.ExampleId;
        Boolean = ExampleModel.Boolean;
        DateTime = ExampleModel.DateTime;
        Decimal = ExampleModel.Decimal;
        ForeignKey1 = ExampleModel.ForeignKey1;
        ForeignKey2 = ExampleModel.ForeignKey2;
        Integer = ExampleModel.Integer;
        TextBasic = ExampleModel.TextBasic;
        TextEmail = ExampleModel.TextEmail;
        TextFile = ExampleModel.TextFile;
        TextHexColour = ExampleModel.TextHexColour;
        TextPassword = ExampleModel.TextPassword;
        TextPhoneNumber = ExampleModel.TextPhoneNumber;
        TextTag = ExampleModel.TextTag;
        TextArea = ExampleModel.TextArea;
        TextEditor = ExampleModel.TextEditor;
        TextURL = ExampleModel.TextURL;
        
    }

/*
 * GUID:e6c09dfe-3a3e-461b-b3f9-734aee05fc7b
 * 
 * Coded by fiyistack.com
 * Copyright © 2022
 * 
 * The above copyright notice and this permission notice shall be included
 * in all copies or substantial portions of the Software.
 * 
 */
    
//Stack: 11
//Last modification on: 23/12/2022 15:53:55

}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <!-- Header body -->
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <!-- Title -->
                    <h2 id="fiyistack-example-title-page" class="h2 text-white d-inline-block mb-0">@NonQueryText example</h2>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="/CMSCore/DashboardIndex">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    FiyiStack
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    Example
                                 </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <i class="@NonQueryIcon"></i>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <!-- XL Screens -->
                    <div class="d-none d-xl-inline">
                        <a href="/FiyiStack/PageExampleQuery" class="btn btn-secondary">
                            <i class="fas fa-angle-left"></i> Go back
                        </a>
                    </div>
                    <!-- Other Screens -->
                    <div class="d-inline d-sm-inline d-md-inline d-lg-inline d-xl-none">
                        <a href="/FiyiStack/PageExampleQuery" class="btn btn-secondary">
                            <i class="fas fa-angle-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
<div class="row">
    <div class="col">
            <!-- Card -->
            <div class="card">
                <!-- Card body -->
                <div class="card-body">
                    <form role="form" class="needs-validation" novalidate>
                        <!-- ExampleId -->
                        <div class="form-group mb-3">
                            <label for="fiyistack-example-exampleId-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-key"></i> ExampleId
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text">
                                        <strong>
                                            <i class="fas fa-key"></i> ExampleId
                                        </strong>
                                    </span>
                                </div>
                                <input type="hidden" id="fiyistack-example-exampleid-input" value="@ExampleId"/>
                                <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="bottom" title="@ExampleId"  type="button" value="ExampleId">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Boolean -->
                        <div class="form-group mb-3">
                            <label for="fiyistack-example-boolean-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-toggle-on"></i> Boolean
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text">
                                        <strong>
                                            <i class="fas fa-toggle-on"></i> Boolean
                                        </strong>
                                    </span>
                                </div>
                                <label class="custom-toggle ml-2 mt-2 mr-4">
                                    <input type="checkbox" id="fiyistack-example-boolean-input" @(Boolean == true ? "checked" : "" )>
                                    <span class="custom-toggle-slider rounded-circle" data-label-off="OFF" data-label-on="ON"></span>
                                </label>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="boolean-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- DateTime -->
                        <div class="form-group mb-3">
                            <label class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-calendar"></i> DateTime
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text ">
                                        <strong>
                                            <i class="fas fa-calendar"></i> DateTime
                                        </strong>
                                    </span>
                                </div>
                                <input id="fiyistack-example-datetime-input" value="@DateTime.ToString("yyyy'-'MM'-'dd'T'HH':'mm")" type="datetime-local" min="1753-01-01T00:00" max="9998-12-30T23:59" class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="datetime-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Decimal -->
                        <div class="form-group mb-3">
                            <label for="fiyistack-example-decimal-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-divide"></i> Decimal
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text ">
                                        <strong>
                                            <i class="fas fa-divide"></i> Decimal
                                        </strong>
                                    </span>
                                </div>
                                <input class="form-control" type="number" id="fiyistack-example-decimal-input" value="@Decimal" min="0" max="1000" step=".01" pattern="^\d*(\.\d{0,2})?$" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="decimal-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- ForeignKey1 -->
                        <div class="form-group mb-3">
                            <label class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-hashtag"></i> ForeignKey1
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend input-group-text">
                                    <span class="mr-2 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                        <strong>
                                            <i class="fas fa-hashtag"></i> ForeignKey1
                                        </strong>
                                    </span>
                                </div>
                                <button type="button" class="btn btn-outline-primary border-0" data-toggle="modal" data-target="#modal-foreign-key-code-selector"><i class="fas fa-hashtag"></i></button>
                                <ul id="fiyistack-example-foreignkey1-list" class="nav nav-pills nav-fill flex-column flex-sm-row" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link mb-sm-3 mb-md-0 active" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="" aria-selected="true">
                                            Choose a value
                                        </a>
                                        <input type="hidden" id="fiyistack-example-foreignkey1-input" value="@ForeignKey1"/>
                                    </li>
                                </ul>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0 ml-2" data-toggle="tooltip" data-placement="left" title="" type="button" id="foreignkey1-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- ForeignKey2 -->
                        <div class="form-group mb-3">
                            <label class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none"><i class="fas fa-hashtag">
                                </i> ForeignKey2
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend input-group-text">
                                    <span class="mr-2 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                        <strong>
                                            <i class="fas fa-hashtag"></i> ForeignKey2
                                        </strong>
                                    </span>
                                </div>
                                <ul class="nav nav-pills nav-fill flex-column flex-sm-row" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link mb-sm-3 mb-md-0 fiyistack-example-foreignkey2-a active" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="" aria-selected="true">
                                            Choose a value
                                        </a>
                                        <input type="hidden" value="0"/>
                                    </li>
                                </ul>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0 ml-2" data-toggle="tooltip" data-placement="left" title="" type="button" id="foreignkey2-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Integer -->
                        <div class="form-group mb-3">
                            <label for="fiyistack-example-integer-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-divide"></i> Integer
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text ">
                                        <strong>
                                            <i class="fas fa-divide"></i> Integer
                                        </strong>
                                    </span>
                                </div>
                                <input class="form-control" type="number" id="fiyistack-example-integer-input" value="@Integer" min="0" max="1000" step="1" pattern="[^0-9]">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="integer-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- TextBasic -->
                        <div class="form-group mb-3">
                            <label for="fiyistack-example-textbasic-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-font"></i> TextBasic
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text ">
                                        <strong>
                                            <i class="fas fa-font"></i> TextBasic
                                        </strong>
                                    </span>
                                </div>
                                <input class="form-control" min="1" max="8000" type="text" id="fiyistack-example-textbasic-input" value="@TextBasic" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="textbasic-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- TextEmail -->
                        <div class="form-group mb-3">
                            <label for="fiyistack-example-textemail-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-at"></i> TextEmail
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text ">
                                        <strong>
                                            <i class="fas fa-at"></i> TextEmail
                                        </strong>
                                    </span>
                                </div>
                                <input class="form-control" type="email" min="1" max="8000" id="fiyistack-example-textemail-input" value="@TextEmail" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- TextFile -->
                        <div class="form-group">
                            <label class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-file"></i> TextFile
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text ">
                                        <strong>
                                            <i class="fas fa-file"></i> TextFile
                                        </strong>
                                    </span>
                                </div>
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                    </div>
                                    <div>
                                        <span class="btn btn-primary btn-file">
                                            <span class="fileinput-new">Select file</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" min="1" max="8000" id="fiyistack-example-textfile-input" value="">
                                        </span>
                                        <a href="#" class="btn btn-outline-danger fileinput-exists" data-dismiss="fileinput">
                                            Remove
                                        </a>
                                    </div>
                                </div>
                                <input type="hidden" min="1" max="8000" id="fiyistack-example-textfile-readonly" value="@TextFile" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="@(@TextFile == "" ? "" : $@"File already saved as {@TextFile}")" type="button" id="TextFile-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- TextHexColour -->
                        <div class="form-group mb-3">
                            <label for="fiyistack-example-texthexcolour-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-palette"></i> TextHexColour
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text">
                                        <strong>
                                            <i class="fas fa-palette"></i> TextHexColour
                                        </strong>
                                    </span>
                                </div>
                                <input class="form-control" type="color" value="@TextHexColour" id="fiyistack-example-texthexcolour-input">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="texthexcolour-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- TextPassword -->
                        <div class="form-group mb-3">
                            <label for="fiyistack-example-textpassword-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-asterisk"></i> TextPassword
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text ">
                                        <strong>
                                            <i class="fas fa-asterisk"></i> TextPassword
                                        </strong>
                                    </span>
                                </div>
                                <input class="form-control" tabindex=7 min="1" max="8000" type="password" id="fiyistack-example-textpassword-input" value="@TextPassword" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary  border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="textpassword-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- TextPhoneNumber -->
                        <div class="form-group mb-3">
                            <label for="fiyistack-example-textphonenumber-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-phone"></i> TextPhoneNumber
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend input-group-text">
                                    <span class="mr-2 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                        <strong>
                                            <i class="fas fa-phone"></i> TextPhoneNumber
                                        </strong>
                                    </span>
                                    <button type="button" class="btn btn-outline-primary border-0" data-toggle="modal" data-target="#modal-phone-code-selector">
                                        <i class="fas fa-globe-americas"></i>
                                    </button>
                                </div>
                                <input class="form-control mt-2" min="1" max="8000" type="tel" id="fiyistack-example-textphonenumber-input" value="@TextPhoneNumber" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="textphonenumber-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- TextTag -->
                        <div class="form-group mb-3">
                            <label for="fiyistack-example-texttag-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-tag"></i> TextTag
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text">
                                        <strong>
                                            <i class="fas fa-tag"></i> TextTag
                                        </strong>
                                    </span>
                                </div>
                                <input type="text" class="form-control" min="1" max="8000" id="fiyistack-example-texttag-input" value="@TextTag" data-toggle="tags" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="texttag-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- TextArea -->
                        <div class="form-group mb-3">
                            <label for="fiyistack-example-textarea-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-font"></i> TextArea
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text ">
                                        <strong>
                                            <i class="fas fa-font"></i> TextArea
                                        </strong>
                                    </span>
                                </div>
                                <textarea class="form-control mt-1" id="fiyistack-example-textarea-input" rows="3" resize="none" maxlength="8000">
                                    @TextArea
                                </textarea>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="textarea-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- TextEditor -->
                        <label for="fiyistack-example-texteditor-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                            <i class="fas fa-font"></i> TextEditor
                        </label>
                        <div id="fiyistack-example-texteditor-input">
                        </div>
                        <input type="hidden" value="@TextEditor" id="fiyistack-example-texteditor-hidden-value">
                        <div class="mb-3"></div>
                        <!-- TextURL -->
                        <div class="form-group mb-3">
                            <label for="fiyistack-example-texturl-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-globe"></i> TextURL
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text ">
                                        <strong>
                                            <i class="fas fa-globe"></i> TextURL
                                        </strong>
                                    </span>
                                </div>
                                <input class="form-control" type="url" id="fiyistack-example-texturl-input" value="@TextURL" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="texturl-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Buttons -->
                        <div class="row justify-content-between">
                            <button id="fiyistack-example-insert-or-update-button" class="btn btn-primary text-nowrap ml-3 mt-4" type="button"><i class="@NonQueryIcon"></i> @NonQueryText</button>
                            <button id="fiyistack-example-insert-or-update-message" data-toggle="modal" data-target="#fiyistack-example-error-message-modal" class="btn mt-4" type="button"></button>
                            <a href="/FiyiStack/PageExampleQuery" class="btn btn-outline-primary col-auto mr-3 mt-4 text-nowrap">
                                <i class="fas fa-angle-left"></i> Go back
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Card footer -->
            <div class="card-footer py-2">
            </div>
        </div>
    </div>
</div>

<!-- Error message in modal style -->
<div class="row">
    <div class="col-md-4 px-0">
        <div class="modal fade" id="fiyistack-example-error-message-modal" tabindex="-1" role="dialog" aria-labelledby="fiyistack-example-error-message-modal" aria-hidden="true">
            <div class="modal-dialog modal-secondary modal-dialog-centered modal-" role="document">
                <div class="modal-content bg-gradient-danger">
                    <!-- Modal title -->
                    <div class="modal-header">
                        <h6 class="modal-title text-white">
                            Error <i class="fas fa-exclamation-triangle"></i>
                        </h6>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="py-3 text-center">
                            <h4 id="/fiyistack-example-error-message-title" class="heading mt-4 text-white"></h4>
                            <p class="text-white text-truncate" id="fiyistack-example-error-message-text"></p>
                        </div>
                    </div>
                    <!-- Close button -->
                    <div class="modal-footer pt-4">
                        <button type="button" class="btn btn-white ml-auto" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ForeignKeyDropDown selector in Modal style -->
<div class="row">
    <div class="col-md-4">
        <!-- Modal -->
        <div class="modal fade" id="modal-foreign-key-code-selector" tabindex="-1" role="dialog" aria-labelledby="modal-foreign-key-selector" aria-hidden="true">
            <div class="modal-dialog modal-secondary modal-dialog-centered modal-" role="document">
                <!-- Modal content -->
                <div class="modal-content bg-gradient-secondary">
                    <div class="modal-header">
                        <h6 class="modal-title text-primary">
                            Choose a ForeignKeyDropDown value <i class="fas fa-hashtag"></i>
                         </h6>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <select id="fiyistack-example-foreignkeydropdown-select" class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Choose value" data-allow-reset="true">
                                        <option value="0"></option> <!--This must be empty-->
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Phone code Selector in Modal style -->
<div class="row">
    <div class="col-md-4">
        <div class="modal fade" id="modal-phone-code-selector" tabindex="-1" role="dialog" aria-labelledby="modal-phone-code-selector" aria-hidden="true">
            <div class="modal-dialog modal-secondary modal-dialog-centered modal-" role="document">
                <div class="modal-content bg-gradient-secondary">
                    <div class="modal-header">
                        <h6 class="modal-title text-primary">Choose your phone code <i class="fas fa-globe-americas"></i></h6>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <select class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Country (+Code)" data-allow-reset="true">
                                        <option></option> <!--This must be empty-->
                                        <option>Argentina (+54)</option>
                                        <option>USA (+1)</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/BasicCore/jquery-3.6.1.min.js"></script>
<script src="/assets/vendor/quill/dist/quill.min.js"></script>
<script src="/js/FiyiStack/Example/jQuery/ExampleNonQuery_jQuery.js"></script>
