@page
@using FiyiStackWeb.Areas.FiyiStack.Models
@model FiyiStackWeb.Areas.FiyiStack.Pages.PageCommentForBlogNonQueryModel
@{
    Layout = "_LayoutDashboard";

    string NonQueryText = "";
    string NonQueryIcon = "";

    int CommentForBlogId;
    string Comment;
    int BlogId;
    

    if(HttpContext.Request.QueryString.Value.Contains("?CommentForBlogId=0"))
    {
        NonQueryText = "Add";
        NonQueryIcon = "fas fa-plus";

        CommentForBlogId = 0;
        Comment = "";
        BlogId = 0;
    }
    else
    {
        NonQueryText = "Edit";
        NonQueryIcon = "fas fa-pen";

        CommentForBlogModel CommentForBlogModel = new CommentForBlogModel().Select1ByCommentForBlogIdToModel
        (Convert.ToInt32(HttpContext.Request.QueryString.Value.Replace("?CommentForBlogId=","")));

        CommentForBlogId = CommentForBlogModel.CommentForBlogId;
        Comment = CommentForBlogModel.Comment;
        BlogId = CommentForBlogModel.BlogId;
        
    }

/*
 * GUID:e6c09dfe-3a3e-461b-b3f9-734aee05fc7b
 * Licensed to a unique person with this Token:IAmTheOwnerOfThis
 * 
 * Coded by www.fiyistack.com
 * Copyright © 2021
 * 
 * The above copyright notice and this permission notice shall be included
 * in all copies or substantial portions of the Software.
 * 
 * Auto generated code. Add your custom code after the last line of auto generation
 */
    
//Stack: 11
//Last modification on: 16/12/2022 10:50:17

}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <!-- Header body -->
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <!-- Title -->
                    <h2 id="fiyistack-commentforblog-title-page" class="h2 text-white d-inline-block mb-0">@NonQueryText commentforblog</h2>
                    <input id="fiyistack-commentforblog-commentforblogid-input" type="hidden" value="@CommentForBlogId" />
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    FiyiStack
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    CommentForBlog
                                 </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <i class="@NonQueryIcon"></i>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <!-- XL Screens -->
                    <div class="d-none d-xl-inline">
                        <a href="/FiyiStack/PageCommentForBlogQuery" class="btn btn-secondary">
                            <i class="fas fa-angle-left"></i> Go back
                        </a>
                    </div>
                    <!-- Other Screens -->
                    <div class="d-inline d-sm-inline d-md-inline d-lg-inline d-xl-none">
                        <a href="/FiyiStack/PageCommentForBlogQuery" class="btn btn-secondary">
                            <i class="fas fa-angle-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
<div class="row">
    <div class="col">
            <!-- Card -->
            <div class="card">
                <!-- Card body -->
                <div class="card-body">
                    <form role="form" class="needs-validation" novalidate>
                        <!-- CommentForBlogId -->
                        <div class="form-group mb-3">
                            <label for="fiyistack-commentforblog-commentforblogId-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-key"></i> CommentForBlogId
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text">
                                        <strong>
                                            <i class="fas fa-key"></i> CommentForBlogId
                                        </strong>
                                    </span>
                                </div>
                                <input type="hidden" id="fiyistack-commentforblog-commentforblogid-input" value="@CommentForBlogId"/>
                                <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="bottom" title="@CommentForBlogId"  type="button" value="CommentForBlogId">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Comment -->
                        <div class="form-group mb-3">
                            <label for="fiyistack-commentforblog-comment-input" class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-font"></i> Comment
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                    <span class="input-group-text ">
                                        <strong>
                                            <i class="fas fa-font"></i> Comment
                                        </strong>
                                    </span>
                                </div>
                                <input class="form-control" min="1" max="8000" type="text" id="fiyistack-commentforblog-comment-input" value="@Comment" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary border-0" data-toggle="tooltip" data-placement="left" title="" type="button" id="comment-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- BlogId -->
                        <div class="form-group mb-3">
                            <label class="form-control-label d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
                                <i class="fas fa-hashtag"></i> BlogId
                            </label>
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend input-group-text">
                                    <span class="mr-2 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
                                        <strong>
                                            <i class="fas fa-hashtag"></i> BlogId
                                        </strong>
                                    </span>
                                </div>
                                <button type="button" class="btn btn-outline-primary border-0" data-toggle="modal" data-target="#modal-foreign-key-code-selector"><i class="fas fa-hashtag"></i></button>
                                <ul id="fiyistack-commentforblog-blogid-list" class="nav nav-pills nav-fill flex-column flex-sm-row" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-text-1-tab" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="" aria-selected="true">
                                            Choose a value
                                        </a>
                                        <input type="hidden" id="fiyistack-commentforblog-blogid-input" value="@BlogId"/>
                                    </li>
                                </ul>
                                <div class="input-group-append">
                                    <button class="btn btn-danger border-0 ml-2" data-toggle="tooltip" data-placement="left" title="This value is required" type="button" id="blogid-info">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Buttons -->
                        <div class="row justify-content-between">
                            <button id="fiyistack-commentforblog-insert-or-update-button" class="btn btn-primary text-nowrap ml-3 mt-4" type="button"><i class="@NonQueryIcon"></i> @NonQueryText</button>
                            <button id="fiyistack-commentforblog-insert-or-update-message" data-toggle="modal" data-target="#fiyistack-commentforblog-error-message-modal" class="btn mt-4" type="button"></button>
                            <a href="/FiyiStack/PageCommentForBlogQuery" class="btn btn-outline-primary col-auto mr-3 mt-4 text-nowrap">
                                <i class="fas fa-angle-left"></i> Go back
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Card footer -->
            <div class="card-footer py-2">
            </div>
        </div>
    </div>
</div>

<!-- Error message in modal style -->
<div class="row">
    <div class="col-md-4 px-0">
        <div class="modal fade" id="fiyistack-commentforblog-error-message-modal" tabindex="-1" role="dialog" aria-labelledby="fiyistack-commentforblog-error-message-modal" aria-hidden="true">
            <div class="modal-dialog modal-secondary modal-dialog-centered modal-" role="document">
                <div class="modal-content bg-gradient-danger">
                    <!-- Modal title -->
                    <div class="modal-header">
                        <h6 class="modal-title text-white" id="modal-title-notification">
                            Error <i class="fas fa-exclamation-triangle"></i>
                        </h6>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="py-3 text-center">
                            <h4 id="/fiyistack-commentforblog-error-message-title" class="heading mt-4 text-white"></h4>
                            <p class="text-white text-truncate" id="fiyistack-commentforblog-error-message-text"></p>
                        </div>
                    </div>
                    <!-- Close button -->
                    <div class="modal-footer pt-4">
                        <button type="button" class="btn btn-white ml-auto" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ForeignKeyDropDown selector in Modal style -->
<div class="row">
    <div class="col-md-4">
        <!-- Modal -->
        <div class="modal fade" id="modal-foreign-key-code-selector" tabindex="-1" role="dialog" aria-labelledby="modal-foreign-key-selector" aria-hidden="true">
            <div class="modal-dialog modal-secondary modal-dialog-centered modal-" role="document">
                <!-- Modal content -->
                <div class="modal-content bg-gradient-secondary">
                    <div class="modal-header">
                        <h6 class="modal-title text-primary" id="modal-title-notification">
                            Choose a ForeignKeyDropDown value <i class="fas fa-hashtag"></i>
                         </h6>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <select id="fiyistack-commentforblog-foreignkeydropdown-select" class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Choose value" data-allow-reset="true">
                                        <option value="0"></option> <!--This must be empty-->
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Phone code Selector in Modal style -->
<div class="row">
    <div class="col-md-4">
        <div class="modal fade" id="modal-phone-code-selector" tabindex="-1" role="dialog" aria-labelledby="modal-phone-code-selector" aria-hidden="true">
            <div class="modal-dialog modal-secondary modal-dialog-centered modal-" role="document">
                <div class="modal-content bg-gradient-secondary">
                    <div class="modal-header">
                        <h6 class="modal-title text-primary" id="modal-title-notification">Choose your phone code <i class="fas fa-globe-americas"></i></h6>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <select class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Country (+Code)" data-allow-reset="true">
                                        <option></option> <!--This must be empty-->
                                        <option>Argentina (+54)</option>
                                        <option>USA (+1)</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery-3.6.1.min.js"></script>
<script src="/assets/vendor/quill/dist/quill.min.js"></script>
<script src="/js/FiyiStack/CommentForBlog/jQuery/CommentForBlogNonQuery_jQuery.js"></script>
